.bg-primary,
.btn-primary {
  background-color: #0b9db5 !important;
}

.btn-primary {
  border: none;
}

.btn-primary:hover {
  background-color: #f8f9fa !important;
  color: #333 !important;
}

body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: #0b9db5 3px solid;

  opacity: 0.8;
}

#home-section {
  background: url(../img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 650px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 650px;
  background: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .fas,
#create-section .fas {
  color: #0b9db5;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

#explore-section .fas,
#share-section .fas {
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

@media (max-width: 992px) {
  #home-section {
    min-height: 800px;
  }
  #home-section .dark-overlay {
    min-height: 800px;
  }
  #home-section-title {
    text-align: center;
    padding-bottom: 10px;
  }
  .section-img {
    width: 500px;
  }
}

@media (max-width: 768px) {
  #home-section-title {
    font-size: 2.8rem;
  }
}
